<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application

        android:name=".XposeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Xpose"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1U8d-RRKzwy6L8OehF6_Sqnm0_cRpkME" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MappingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.theme.SettingsActivity"
            android:exported="false" />

        <service
            android:name=".data.collectors.LocationService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <service
            android:name=".data.collectors.BluetoothScanService"
            android:foregroundServiceType="connectedDevice"
            android:exported="false" />

        <service
            android:name=".data.collectors.DeviceStateService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".data.collectors.NetworkStateService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <activity android:name="com.example.androidxpose.Profile.ProfileActivity.ProfileActivity" />
        <activity android:name="com.example.androidxpose.report.ReportActivity" />
        <activity android:name="com.example.androidxpose.usage.UsageActivity" />
    </application>
</manifest>